/*
 * @file
 * Styles for the Add menu.
 */

.add-menu {
  background: #fff;
  color: #333;
}
.add-menu a.menu-link {
  color: #333;
}
.add-menu:before {
  content: '+';
  width: 50px;
  height: 50px;
  border-radius: 20em;
  color: #fff;
  background: red;
  position: absolute;
  right: 20px;
  bottom: -25px;
}
