/**
 * @file
 * Styles for Azul's UI buttons
 */

.button {
  border: 1px solid #aaa;
  padding: 0.3em 1.2em;
  background-color: #fff;
  background-image: none;
  font-size: 1em;
  text-shadow: none;
}
.button:hover,
.button:focus {
  background-color: #2196f3;
  border: 1px solid #2196f3;
  background-image: none;
  color: #fff;
}
.button:hover {
  box-shadow: none;
}

/* Prevent focus ring being covered by next siblings. */
.button:focus {
  border: 1px solid #2196f3;
  box-shadow: 0 0 4px #2196f3;
  background-color: #2196f3;
  color: #fff;
}
.button:active {
  border: 1px solid #2196f3;
  background-color: #2196f3;
  color: #fff;
  background-image: none;
  box-shadow: 0 0 4px #2196f3;
}

/* Primary button. */
.button--primary {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: none;
  font-size: 1em;
  color: #fff;
  text-shadow: none;
  vertical-align: top;
}
.button--primary:hover,
.button--primary:focus {
  background-color: #2196f3;
  background-image: none;
  border-color: #2196f3;
  color: #fff;
}
.button--primary:focus {
  border: 1px solid #2196f3;
}
.button--primary:hover {
  box-shadow: none;
}
.button--primary:active {
  background-image: none;
  border-color: transparent;
  box-shadow: 0 0 4px #2196f3;
}

/* Disabled button. */
.button:disabled,
.button:disabled:active,
.button.is-disabled,
.button.is-disabled:active {
  border-color: #ddd;
  color: #555;
  text-shadow: none;
}

/* Link actions. */
.link {
  color: #2196f3;
}
.link:hover,
.link:focus {
  color: #2196f3;
}

/* Reset special casing on danger button from Seven. */
.button--danger {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 20em;
  padding: 0.3em 1.2em;
  box-shadow: none;
  background: none;
  width: 100%;
  margin: 1em 0;
  color: #c72100;
  font-weight: 400;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button--danger:hover,
.button--danger:focus,
.button--danger:active {
  color: #fff;
  background: ff2a00;
  text-decoration: underline;
  text-shadow: none;
  border: 1px solid #aaa;
  padding: 0.3em 1.2em;
}
.button--danger:disabled,
.button--danger.is-disabled {
  color: #737373;
  text-decoration: none;
  border: 1px solid #aaa;
  padding: 0.3em 1.2em;
}

/* Adjust Seven's poorly sized and cramped plus icon.
 * @todo create an issue to move this fix to upstream to Seven.
 */
.no-touchevents .button--small {
  font-size: 1em;
  line-height: 1.5em;
  padding: 2px 1em;
}
.button-action:before {
  margin-left: -0.2em;
  padding-right: 0.2em;
  font-size: 1.5em;
  line-height: .5em;
  vertical-align: middle;
}

/* Additional styles for groups of buttons. */
@media screen and (min-width: 600px) {
  .button:last-child {
    border-top-left-radius: 0; /* LTR */
    border-bottom-left-radius: 0; /* LTR */
    margin-left: -2px; /* LTR */
  }
  .button:first-child {
    border-top-right-radius: 0; /* LTR */
    border-bottom-right-radius: 0; /* LTR */
    margin-right: 0; /* LTR */
  }
  .button:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -2px;
    margin-right: -2px;
  }
  [dir="rtl"] .button:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20em;
    border-bottom-left-radius: 20em;
    margin-left: -2px;
  }
  [dir="rtl"] .button:first-child {
    border-top-right-radius: 20em;
    border-bottom-right-radius: 20em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0;
  }
  .button:only-child {
    border-radius: 20em;
  }
  .button--danger {
    width: auto;
    margin: 0;
  }
  .button--danger:hover,
  .button--danger:focus,
  .button--danger:active {
    color: #fff;
    background: ff2a00;
  }
  #edit-cancel {
    margin-left: -2px;
  }
  #edit-preview {
    border: 0;
    background: none;
  }
  #edit-preview:hover,
  #edit-preview:focus {
    color: #2196f3;
    border: 0;
    background: none;
  }
}

/* Change action link button color when it's in header. */
.content-header ul.action-links .button {
  background: #fff;
  color: #555;
  font-weight: normal;
}
.content-header ul.action-links .button:before {
  color: #2196f3;
}
.content-header ul.action-links .button:hover,
.content-header ul.action-links .button:focus,
.content-header ul.action-links .button:active {
  color: #2196f3;
}
.content-header ul.action-links {
  float: right;
  margin: 0 0 1em 0;
}
