/**
 * Content header.
 */
.content-header {
  background-color: #0084d1;
  color: #fff;
}
.content-header p,
.content-header pre,
.content-header li,
.content-header h1,
.content-header h2,
.content-header h3,
.content-header h4,
.content-header h5,
.content-header h6,
.content-header li.menu-item a {
  color: #fff;
}
.content-header h1 {
  font-size: 2em;
  font-weight: light;
  font-weight: 400;
  line-height: 100%;
  float: left;
  margin-bottom: .5em;
}

/*
 * Relative positioning from Stable causes links in header to be inaccessible.
 * @todo fix this and move this upstream to Stable #2821825.
 */
.position-container {
  position: static;
}
