/**
 * Tabs.
 */
.is-collapse-enabled .tabs:before,
.is-horizontal .tabs:before {
  background-color: #eee;
}

.tabs__tab {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: background-color .5s ease;
}
.tabs__tab:hover,
.tabs__tab:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.tabs.primary .tabs__tab.is-active {
  border-color: transparent;
  border-radius: 2px 0 0 0; /* LTR */
  background-color: #fff;
  color: #333;
}
.tabs.primary a {
  background: none;
  color: #fff;
}
.tabs.primary a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.tabs.primary .tabs__tab.is-active a {
  color: #333;
}
.tabs.primary .is-active a:focus {
  background: none;
  text-decoration: none;
}

/* Only add the arrow if there's space */
@media screen and (min-width:18.75em) { /* 300px */
  .tabs.primary a {
    background: url(/core/misc/icons/0074bd/chevron-right.svg) 99% center no-repeat;
  }
  [dir="rtl"] .tabs.primary a {
    background: url(/core/misc/icons/0074bd/chevron-left.svg) 1% center no-repeat;
  }
  .tabs.primary .tabs__tab.is-active a {
    background-image: none;
    color: #333;
  }
}
.tabs__trigger {
  display: none;
}

/* Styles for the horizontal state always take priority */
.is-horizontal .tabs__tab {
  border-bottom-color: #ddd;
}
.is-collapse-enabled .tabs:before, .is-horizontal .tabs:before {
  background-color: #ddd;
}

/* Override the states above */
.is-horizontal .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  border-radius: 2px 2px 0 0;
}

/* Secondary tabs */
.tabs.secondary .tabs__tab {
  color: #0074bd;
}
.tabs.secondary .tabs__tab + .tabs__tab {
  border-top: 1px solid #d9d8d4;
}
.tabs.secondary .tabs__tab.is-active {
  color: #004f80;
  border-left: 2px solid #004f80; /* LTR */
}

.tabs.secondary .tabs__tab:hover,
.tabs.secondary .tabs__tab:focus {
  color: #008ee6;
  border-left: 2px solid #fff; /* LTR */
}
[dir="rtl"] .tabs.secondary .tabs__tab:hover,
[dir="rtl"] .tabs.secondary .tabs__tab:focus {
  border-left: 1px solid #fff;
  border-right: 2px solid #fff;
}
.tabs.secondary a {
  background-color: transparent;
  text-decoration: none;
}
.tabs.secondary .is-active a {
  color: #004f80;
}
.tabs.secondary a:focus {
  text-decoration: none;
}

/* Styles for the horizontal state */
.is-horizontal .tabs.secondary .tabs__tab {
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent; /* LTR */
  border-right-color: transparent; /* LTR */
  border-top: 0;
}
[dir="rtl"] .is-horizontal .tabs.secondary .tabs__tab {
  border-right: 1px solid transparent;
  border-left-color: transparent;
}
.is-horizontal .tabs.secondary .tabs__tab.is-active {
  border-bottom-color: #004f80;
}
.is-horizontal .tabs.secondary .tabs__tab:hover,
.is-horizontal .tabs.secondary .tabs__tab:focus {
  border-bottom-color: #008ee6;
}
